/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }

  #id {
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
